body{
    width: 1200px;
    height: 900px;
    font-family: roboto,helvetica,Arial, Helvetica, sans-serif;
    position:relative;
}
.section0{
  width: 1200px;
  height: 450px;
  background-color: aquamarine;
}
h1{
  width:auto;
  height:50px;
  align-items: center;
}

.contenedorVegetales{
  position:absolute;
  width: 80px;
  height: 50px;
  top:35px;
  left:20px;
  
}
.contenedorCarnes{
  position:absolute;
  width: 80px;
  height: 50px;
  top:35px;
  left:300px;
}
.contenedorHogar{
  position:absolute;
  width: 80px;
  height: 50px;
  top:35px;
  left:550px;

}
h2{
  justify-content: center;
  width: 200px;
  height: 40px;
  
}
h2.vegetales{
  justify-content: center;
  font-size: medium;
  width: 100px; 
}
h2.carniceria{
  justify-content: center;
  font-size: medium;
  width: 100px;
 
}
h2.hogar{
  justify-content: center;
  font-size: medium;
  width: 100px;
    
} 
.compras{
   position:absolute;
   height: 25px;
   top:60px;
   padding:1px;
   margin-top: 3px;
   background-color: blueviolet;
 }
 .boton{
   position:absolute;
   top:65px;
   left:200px;
   bottom:1px;
   width:30px;
   height:20px;
   border-radius:2px;
   }
   .section1{
    position:relative;
    width: 1200px;
    height: 450px;
    background-color:beige
     }
     .item{
      width:230px;
      height:25px;
      position: relative;
     }
   .section2{
   position:absolute;
   top:20px;
   width: 270px;
   height: 250px;
   background-color:blue;
    }
    .listaContenedorVegetales{
      position:absolute;
      width: 80px;
      height: 50px;
      top:20px;
      left:20px;
     }
     h2.tituloVegetales{
      justify-items: auto;
      width: 50px;
      height: 5px;
      top: 25px;
  
    }
    #lista-vegetales{
      position:absolute;
      width: 80px;
      height: 20px;
      top:35;
      left:5px;
      
     }
     #cajaCheck{
      width: 5px;
      height: 3px;
      position: absolute;
      left:10px;
     }
     #tomates{
       position:absolute;
       width: 20px;
       height: 5px;
       color:black;
       left: 50px;
     }
     #cantidadDetomates{
       position: absolute;
       width: 5px;
       height: 3px;
       left: 35px;
     }
     #cebollas{
       position:absolute;
       width: 20px;
       height: 5px;
       color:black;
       left: 50px;
     }
     #cantidadDecebollas{
       position: absolute;
       width: 5px;
       height: 3px;
       left: 35px;
     }
     #brocolis{
       position:absolute;
       width: 20px;
       height: 5px;
       color:black;
       left: 50px;
     }
     #cantidadDebrocolis{
       position: absolute;
       width: 5px;
       height: 3px;
       left: 35px;
     }
     #ajo{
       position:absolute;
       width: 20px;
       height: 5px;
       color:black;
       left: 50px;
     }
     #cantidadDeajo{
       position: absolute;
       width: 5px;
       height: 3px;
       left: 35px;
     }
     #aji{
       position:absolute;
       width: 20px;
       height: 5px;
       color:black;
       left: 50px;
     }
     #cantidadDeaji{
       position: absolute;
       width: 5px;
       height: 3px;
       left: 35px;
     }
     #desincorporar{
      position: absolute;
      top:5px;
      width: auto;
      height: auto;   
      left: 200px;
     }
   
   
    /* #listaProducto{
      width: auto;
      height: auto;
      position:absolute;
      left:300px;
     }*/
   

  .section3{
    position: absolute;
    top:20px;
    left:327px;
    width: 270px;
    height: 250px;
    background-color:red;
   
   }
   .listaContenedorCarnes{
    position:absolute;
    width: 80px;
    height: 50px;
    top:20px;
    left:20px;
   }
   h2.tituloCarnes{
    justify-content: center;
    width: 80px;
    height: 30px;
  }
  #lista-de-carnes{
    position:absolute;
    top:35px;
    left:5px;
   }
   #asado{
    position:absolute;
    width: 20px;
    height: 5px;
    color:black;
    left: 50px;
  }
  #cantidadDeasado{
    position: absolute;
    width: 5px;
    height: 3px;
    left: 35px;
  }
  #paleta{
    position:absolute;
    width: 50px;
    height: 5px;
    color:black;
    left: 50px;
  }
  #cantidadDepaleta{
    position:absolute;
    width: 20px;
    height: 5px;
    color:black;
    left: 35px; 
  }
  #peseto{
    position:absolute;
    width: 20px;
    height: 5px;
    color:black;
    left: 50px;
  }
  #cantidadDepeseto{
    position: absolute;
    width: 5px;
    height: 3px;
    left: 35px;
  }
  #picada{
    position:absolute;
    width: 20px;
    height: 5px;
    color:black;
    left: 50px;
  }
  #cantidadDepicada{
    position: absolute;
    width: 5px;
    height: 3px;
    left: 35px;
  }
  #vacio{
    position:absolute;
    width: 20px;
    height: 5px;
    color:black;
    left: 50px;
  }
  #cantidadDevacio{
    position: absolute;
    width: 5px;
    height: 3px;
    left: 35px;
  }

   .section4{
    position: absolute;
    top:20px;
    right:50px;
    left:600px;
    width: 270px;
    height: 250px;
    background-color: rgb(37, 129, 129);
   
   }  
  
   .listaContenedorHogar{
    position:absolute;
    width: 80px;
    height: 50px;
    top:5px;
    left:20px;  
   }

  
  
  h2.tituloHogar{
    justify-content: center;
    width: 80px;
    height: 30px;

  } 
  
  
  #lista-hogar{
   position:absolute;
   width: 80px;
   height: 20px;
   top:35;
   left:5px;
   top:35px;
    }
    #vasos{
      position:absolute;
      width: 20px;
      height: 5px;
      color:black;
      left: 50px;
    }
    #cantidadDevasos{
      position: absolute;
      width: 5px;
      height: 3px;
      left: 35px;
    }
    #platos{
      position:absolute;
      width: 20px;
      height: 5px;
      color:black;
      left: 50px;
    }
    #cantidadDeplatos{
      position: absolute;
      width: 5px;
      height: 3px;
      left: 35px;
    }
    #sabanas{
      position:absolute;
      width: 20px;
      height: 5px;
      color:black;
      left: 50px;
    }
    #cantidadDesabanas{
      position: absolute;
      width: 5px;
      height: 3px;
      left: 35px;
    }
    #copas{
      position:absolute;
      width: 20px;
      height: 5px;
      color:black;
      left: 50px;
    }
    #cantidadDecopas{
      position: absolute;
      width: 5px;
      height: 3px;
      left: 35px;
    }
    #cepillo{
      position:absolute;
      width: 20px;
      height: 5px;
      color:black;
      left: 50px;
    }
    #cantidadDecepillo{
      position: absolute;
      width: 5px;
      height: 3px;
      left: 35px;
    }
  
  
  
  
   