body{
    width: 1200px;
    height: 900px;
    font-family: roboto,helvetica,Arial, Helvetica, sans-serif;
    position:relative;
}
.section0{
  width: 1200px;
  height: 450px;
  background-color: aquamarine;
}
h1{
  width:auto;
  height:50px;
  align-items: center;
}

.contenedorVegetales{
  position:absolute;
  top:35px;
  left:20px;
  
}
.contenedorCarnes{
  position:absolute;
  top:35px;
  left:300px;
}
.contenedorHogar{
  position:absolute;
  top:35px;
  left:550px;

}
h2{
  justify-content: center;
  width: 200px;
  height: 40px;
  
}
h2.vegetales{
  justify-content: center;
  font-size: medium;
  width: 100px; 
}
h2.carniceria{
  justify-content: center;
  font-size: medium;
  width: 100px;
 
}
h2.hogar{
  justify-content: center;
  font-size: medium;
  width: 100px;
    
} 
.compras{
   position:absolute;
   top:60px;
   padding:1px;
   margin-top: 3px;
   background-color: blueviolet;
 }
 .boton{
   position:absolute;
   top:65px;
   left:200px;
   bottom:1px;
   width:30px;
   height:20px;
   border-radius:2px;
   }
   .section1{
    position:relative;
    width: 1200px;
    height: 450px;
    background-color:beige
     }
   .section2{
   position:absolute;
   top:20px;
   width: 270 px;
   height: 250px;
   background-color:blue;
    }
  .section3{
    position: absolute;
    top:20px;
    left:327px;
    width: 270px;
    height: 250px;
    background-color:red;
   
   }
   .section4{
    position: absolute;
    top:20px;
    right:50px;
    left:600px;
    width: 270px;
    height: 250px;
    background-color: rgb(37, 129, 129);
   
   }
  .listaContenedorVegetales{
   position:absolute;
   top:35px;
   left:20px;
  }
  h2.tituloVegetales{
    justify-content: center;
    width: 100px;
    height: 30px;

  }
  h2.tituloCarnes{
    justify-content: center;
    width: 100px;
    height: 30px;

  }
 /* h2.tituloHogar{
    justify-content: center;
    width: 100px;
    height: 30px;

  }*/
  .listaContenedorCarnes{
   position:absolute;
   top:35px;
   left:300px;
  }
  .listaContenedorHogar{
   position:absolute;
   top:35px;
   left:550px;  
  }
  #lista-vegetales{
   position:absolute;
   top:35;
   left:20px;
   
  }
  #lista-de-carnes{
   position:absolute;
   top:35px;
   left:300px
  }
  #lista-hogar{
   position:absolute;
   top:35px;
   left:300px
  }
  .item{
   width:450px ;
   height:25px;
   position: relative;
  }
  #cajaCheck{
   position: absolute;
   left:1px;
  }
  #listaProducto{
   position:absolute;
   left:100px;
  }
  #desincorporar{
   position: absolute;
   left: 250px;
  }
   